/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/demcaheader.jpg");
  --header-bg-color: transparent; /** Transparent color if adding header bg-image **/
  --header-font-color: #000000;
  --brand-font-size: 1.5rem;
  --logo-width: 120px;
  --menu-top-bg-color: #dcdcdc;
  --menu-font-size: 1rem;
  --body-bg-color: #4d78b6;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Open Sans", sans-serif;
  --footer-bg-color: #ffffff;
  --heading-font-family: "Open Sans", sans-serif;
  --link-color: #8fd3ff;
  --darkest-color: #1e2a4a;
  --medium-color: #aeb6cc;
  --light-color: #f2f0e9;
  --bright-color: #32a6d4;
  --danger-color: #b31b1b;
  --max-innertext-width: ;
}